<div class="card">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">{{userName}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Email :</strong> {{userEmail}}</p>
    <p class="card-text"><strong>Phone Number :</strong> {{userPhoneNumber}}</p>
    <p class="card-text"><strong>Address :</strong> {{userAddress}}</p>
    <p class="card-text"><strong>Role :</strong> {{role}}</p>
  </div>
  <div class="card-footer bg-primary">
    <a (click)="logOutFromApp()" class="btn btn-danger">Logout</a>
  </div>
</div>

  