<div class="container">
    <div *ngFor="let restaurant of restaurants">
      <!-- <div class="row">
        <div class="col-md-12">
          <h3>{{ restaurant.restaurantName }}</h3>
          <p>{{ restaurant.restaurantAddress }}</p>
          <p>{{ restaurant.restaurantPhoneNumber }}</p>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-3" *ngFor="let menuItem of restaurant.menuList">
          <mat-card class="example-card" style="margin-bottom: 20px;">
            <mat-card-content>
              <img src="{{menuItem.itemUTL}}" alt="{{ menuItem.itemName }}" style="width: 100%; height: 140px; object-fit: cover;">
              <h3>{{menuItem.itemName}}</h3>
              <p>{{ menuItem.itemDescription }}</p>
              <p>Price: Rs {{ menuItem.itemPrice }}</p>
              <p>Rating: {{ menuItem.itemRating }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-fab (click)="addToCard(menuItem.itemNumber)"  color="warn"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>